@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
#root,
body {
  margin: 0px;
  padding: 0px;
}

.title {
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  z-index: 10;
  letter-spacing: 50px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  transform: translateX(25px);
  margin-top: 20px
}

.main {
  width: 100vw;
  min-height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg-box-primary {
  width: 400px;
  height: 200px;
  background-color: #fff;
  position: relative;
  margin-top: 20px;
}

.bg-box-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #000;
  transform: translateX(-50%);
}

.bg-box-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #000;
  transform: translateX(50%);
}

.bg-box-secondary {
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: relative;
}

.bg-box-secondary-inner-tl {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.bg-box-secondary-inner-tr {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.bg-box-secondary-inner-bl {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.bg-box-secondary-inner-br {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}